<div class="card col-lg">

    <table class="table">
        <tr>
            <td>Name</td>
            <td><a href="/student/{{ object.pk }}/">{{ object.name }}</a></td>
        </tr>
        <tr>
            <td>Github</td>
            <td>{{ object.github }}</td>
        </tr>
        <tr>
            <td>Server</td>
            <td>{{ object.server }}</td>
        </tr>
    </table>

    <p>
        <a href="/student/{{ object.pk }}/" class="btn btn-success m-5">Edit Settings</a>
    </p>

</div>