{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Document Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">
                <h2>{{ object.title }}</h2>
                <p>{{ html }}</p>

                <table class="table">
                    <tr>
                        <td>Title</td>
                        <td><b><a href="{{ object.pk }}/">{{ object.headline }}</a></b></td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td><b>{{ object.image }}</b></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <a href="/document/" class="btn btn-success m-5">Document List</a>
    <a href="/document/{{ object.pk }}/" class="btn btn-success m-5">Edit Document</a>
    <a href="/document/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Document</a>
</div>

{% endblock content %}