{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Photos</h1>

    <table class="table table-hover">
        <tr>
            <th>Photogram</th>
            <th>Edit</th>
        </tr>

        {% for document in object_list %}
        <tr>
            <td><a href="{{ document.pk }}">{{ document.headline }}</a></td>
            <td><a href="{{ document.pk }}/">Edit</a></td>
            <td><a href="{{ document.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="add" class="btn btn-success m-5">Add New Photogram</a>
    </p>

</div>

{% endblock content %}