{% extends 'theme.html' %}


{% block title %}Project Milestones{% endblock title %}



{% block content %}

<div class="container my-5">

    {% if table %}

    <div class="card my-3">

        <table class="table table-hover">
            <tr>
                <th>Milestone</th>
                <th>Requirements</th>
                <th>Design</th>
                <th>Code</th>
                <th>Test</th>
            </tr>
            {% for row in table %}
            <tr>
                {% for column in row %}
                <td>
                    {% autoescape off %}
                    {{ column }}
                    {% endautoescape %}

                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>

    {% endif %}

</div>

{% endblock content %}