<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/book.css" rel="stylesheet">
</head>

<body class="bg-dark text-light">
    <div class="container">

        {% block content %}
        <h2>No Main Block Defined</h2>
        {% endblock content %}

    </div>

</body>

</html>