{% if carousel %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

        {% for image in carousel %}

        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ image.id }}"
            class="{{ image.active }}" aria-label="Photo {{ image.id }}" {{ image.aria }}>
        </button>

        {% endfor %}

    </div>


    <div class="carousel-inner">

        {% for image in carousel %}

        <div class="carousel-item {{ image.active }}">
            <img class="d-block w-100" src="{{ image.image_url }}" alt="{{ image.label }}">
        </div>

        {% endfor %}

    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endif %}