<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../unc.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

        <div class="container">

            <a class="navbar-brand text-light" href="/">UNC BACS 350</a>

            <ul class="navbar-nav text-light ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="../lesson/index.html">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../project/index.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../docs/index.html">Documents</a>
                </li>
            </ul>

        </div>

    </nav>

    <header class="p-lg-5">
        <div class="row media">
            <div class="media-body">
                <h1 class="display-4 ml-5">
                    <a href="../index.html">UNC BACS 350</a>
                </h1>
                <h2 class="display-6 ml-5">Web Apps with Python/Django</h2>
            </div>
            <img class="m-3 rounded-circle image-fluid" src="../Bear.png" alt="Logo" width="150">
        </div>
    </header>

    <main>
        <div class="container">
            
            <h1>Lesson 19 - User Authentication</h1>
<h2>LEARN</h2>
<h3>User Authentication</h3>
<ul>
<li>User authentication is hard to get right</li>
<li>Django provides powerful built-in tools</li>
<li>We extend the Django implementation</li>
</ul>
<h3>User Object</h3>
<ul>
<li>username</li>
<li>password</li>
<li>email</li>
<li>first_name</li>
<li>last_name</li>
</ul>
<h3>Forms and Logic</h3>
<ul>
<li>Log in</li>
<li>Log out</li>
<li>Sign up</li>
<li>User status</li>
</ul>
<h3>Log In</h3>
<p>config/urls.py</p>
<pre><code>from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    path('accounts/', include('django.contrib.auth.urls')),
    path('', 
        TemplateView.as_view(template_name="templates/theme.html"), 
        name='home'),
]
</code></pre>
<p>config/settings.py</p>
<pre><code>LOGIN_REDIRECT_URL = 'home'
</code></pre>
<p>templates/registration/login.html</p>
<pre><code>{% extends 'theme.html' %}

{% block content %}
    &lt;h2&gt;Log In&lt;/h2&gt;
    &lt;form method="post"&gt;
          {% csrf_token %}
          {{ form.as_p }}
          &lt;button type="submit"&gt;Log In&lt;/button&gt;
    &lt;/form&gt;
{% endblock content %}
</code></pre>
<h3>User status</h3>
<p>templates/theme.html</p>
<pre><code>{% if user.is_authenticated %}
    &lt;p&gt;Hi {{ user.username }}!&lt;/p&gt;
    &lt;p&gt;&lt;a href="{% url 'logout' %}"&gt;Log out&lt;/a&gt;&lt;/p&gt;
{% else %}
    &lt;p&gt;You are not logged in.&lt;/p&gt;
    &lt;a href="{% url 'login' %}"&gt;Log In&lt;/a&gt;
{% endif %}
</code></pre>
<h3>Home Page</h3>
<p>templates/theme.html</p>
<pre><code>&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;User Authentication Demo&lt;/title&gt;
    &lt;link href="/static/css/base.css" rel="stylesheet"s&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;header&gt;
          &lt;h1&gt;&lt;a href="{% url 'home' %}"&gt;Home Page&lt;/a&gt;&lt;/h1&gt;

          {% if user.is_authenticated %}
                &lt;p&gt;Hi {{ user.username }}!&lt;/p&gt;
                &lt;p&gt;&lt;a href="{% url 'logout' %}"&gt;Log out&lt;/a&gt;&lt;/p&gt;
          {% else %}
                &lt;p&gt;You are not logged in.&lt;/p&gt;
                &lt;a href="{% url 'login' %}"&gt;Log In&lt;/a&gt;
          {% endif %}
      &lt;/header&gt;

      {% block content %}
      {% endblock content %}
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h3>Log out</h3>
<p>Follow this link to log out</p>
<pre><code>&lt;a href="{% url 'logout' %}"&gt;Log out&lt;/a&gt;
</code></pre>
<p>config/settings.py</p>
<pre><code>LOGOUT_REDIRECT_URL = 'home'
</code></pre>
<h3>Sign up</h3>
<p>Create a new app</p>
<pre><code>$ python manage.py startapp accounts
</code></pre>
<p>config/settings.py</p>
<pre><code>INSTALLED_APPS = [..., 'accounts', ]
</code></pre>
<p>config/urls.py</p>
<pre><code>urlpatterns = [
    ...
    path('accounts/', include('accounts.urls')),
    ...
]
</code></pre>
<p>accounts/urls.py</p>
<pre><code>from django.urls import path
from .views import SignUpView

urlpatterns = [
    path('signup/', SignUpView.as_view(), name='signup'),
]
</code></pre>
<p>accounts/views.py</p>
<pre><code>from django.urls import reverse_lazy
from django.views import generic


class SignUpView(generic.CreateView):
    form_class = UserCreationForm
    success_url = reverse_lazy('login')
    template_name = 'registration/signup.html'
</code></pre>
<p>templates/sign_up.html</p>
<pre><code>{% extends 'theme.html' %}

{% block content %}
    &lt;h2&gt;Sign Up&lt;/h2&gt;
    &lt;form method="post"&gt;
        {% csrf_token %}
        {{ form.as_p }}
        &lt;button type="submit"&gt;Sign Up&lt;/button&gt;
    &lt;/form&gt;
{% endblock content %}
</code></pre>
<h2>BUILD</h2>
<h3>Demo of User Accounts</h3>
<ul>
<li>Shows how to manage user authentication</li>
<li><a href="https://github.com/Mark-Seaman/BACS350/tree/main/week7">User Accounts</a></li>
</ul>
<h3>To Do List</h3>
<ul>
<li>Test<ul>
<li>Accounts CRUD Test</li>
<li>Accounts Views Test</li>
</ul>
</li>
<li>Fix</li>
<li>Extend<ul>
<li>Add Fields to Book</li>
<li>Extend views to show all fields</li>
</ul>
</li>
<li>Improve<ul>
<li>Setup command aliases</li>
<li>Migrate database</li>
<li>Simplify code</li>
<li>Use CRUD Test Pattern</li>
<li>Use Views Test Pattern</li>
</ul>
</li>
</ul>
<h3>Build Users Project</h3>
<p>Start Users project </p>
<pre><code>$ cd week7/Users
$ django-admin startproject config .
$ python manage.py startapp accounts
</code></pre>
<p>config/settings.py</p>
<pre><code>TEMPLATES = [
    {
        ...
        'DIRS': [BASE_DIR / 'templates'],
        ...
    },
]

LOGIN_REDIRECT_URL = 'home'
LOGOUT_REDIRECT_URL = 'home'
STATIC_URL = '/static/'
STATICFILES_DIRS = [BASE_DIR / "static"]

ALLOWED_HOSTS = ['markseaman.pythonanywhere.com', '127.0.0.1', 'localhost']

INSTALLED_APPS = [
    ...
    'accounts',
]
</code></pre>
<h3>Test Admin View</h3>
<pre><code>$ python manage.py makemigrations
$ python manage.py migrate
$ python manage.py createsuperuser
$ python manage.py runserver
$ browse to 127.0.0.1:8000/admin/
$ git add . &amp;&amp; git commit -m "Initial Accounts app"
</code></pre>
<h3>Django Test</h3>
<p>accounts/tests.py</p>
<pre><code>class TestAccountsViews(TestCase):

    def test_home_view(self):
        response = self.client.get('/')
        self.assertEqual(response.status_code, 200)
        self.assertTemplateUsed(response, 'theme.html')

    def test_login_view(self):
        response = self.client.get('/accounts/login')
        self.assertEqual(response.status_code, 301)
        self.assertEqual(response.url, '/accounts/login/')

        response = self.client.get('/accounts/login/')
        self.assertEqual(response.status_code, 200)
        self.assertTemplateUsed(response, 'theme.html')

    def test_logout_view(self):
        response = self.client.get('/accounts/logout/')
        self.assertEqual(response.status_code, 302)
        self.assertEqual(response.url, '/')

    def test_signup_view(self):
        response = self.client.get('/signup')
        self.assertEqual(response.status_code, 301)
        self.assertEqual(response.url, '/signup/')

        response = self.client.get('/signup/')
        self.assertEqual(response.status_code, 200)
        self.assertTemplateUsed(response, 'theme.html')
</code></pre>
            
        </div>
    </main>

    
    <footer class="container-fluid text-center bg-dark text-light mt-5 p-3">

    <div class="row">
        <div class="col text-center ">
            &copy;2021 <a href="https://seamanslog.com">Seaman's Log</a> - Big Ideas &amp; Deep Thoughts
        </div>
    </div>
    <div class="row">

        <div class="col p-3">
            <a href="https://twitter.com/mdseaman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
                data-show-count="false">
                Follow mdseaman
            </a>
        </div>

        <div class="col p-3">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
                data-show-count="false">
                Tweet
            </a>
        </div>

        <div class="col p-3">

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="vWwSzcgD"></script>
            If you like share it!

            <div class="fb-share-button" data-href="" data-layout="button" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">
                    Facebook Share
                </a>
            </div>
        </div>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</footer>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>