<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 22</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../unc.css">
</head>

<body>

    <header class="p-lg-5">
        <div class="row media">
            <div class="media-body">
                <h1 class="display-4 ml-5">
                    <a href="../index.html">UNC BACS 350</a>
                </h1>
                <h2 class="display-6 ml-5">Web Apps with Python/Django</h2>
            </div>
            <img class="m-3 rounded-circle image-fluid" src="../Bear.png" alt="Logo" width="150">
        </div>
    </header>

    <main>
        <div class="container">
            
            <h1>Lesson 22 -  View Layout</h1>
<h2>LEARN</h2>
<h3>Django for Beginners - Chapter 10 - Bootstrap</h3>
<ul>
<li>JavaScript</li>
<li>CSS</li>
<li>Crispy Forms</li>
<li>Bootstrap Basics</li>
</ul>
<h3>Today</h3>
<ul>
<li>Reusable Views</li>
<li>Refactoring</li>
<li>Building a theme</li>
</ul>
<h3>W3Schools</h3>
<ul>
<li><a href="https://www.w3schools.com/bootstrap5/index.php">Getting Started</a></li>
<li><a href="https://www.w3schools.com/bootstrap5/bootstrap_containers.php">Containers</a></li>
<li><a href="https://www.w3schools.com/bootstrap5/bootstrap_typography.php">Typography</a></li>
<li><a href="https://www.w3schools.com/bootstrap5/bootstrap_colors.php">Colors</a></li>
<li><a href="https://www.w3schools.com/bootstrap5/bootstrap_buttons.php">Buttons</a></li>
<li><a href="https://www.w3schools.com/bootstrap5/bootstrap_grid_basic.php">Grid</a></li>
</ul>
<h3>Reusable Views</h3>
<ul>
<li>Create reusable code for common tasks</li>
<li>Don't repeat yourself</li>
<li>Learn to smell the duplication</li>
</ul>
<h3>Refactoring</h3>
<ul>
<li>Incremental redesign after the code is written</li>
<li>Code naturally decays with technical debt</li>
<li>Make code live forever</li>
</ul>
<h3>Building a Theme Template</h3>
<ul>
<li>Start with a simple page template</li>
<li>Recognize the changing content</li>
<li>Build replacable content</li>
</ul>
<h3>Blocks</h3>
<p>theme.html</p>
<p>```html
<!DOCTYPE html></p>
<p><html lang="en">
<head>
</head>
<body>
    {% block content %}
    <p>No body content given</p>
    {% endblock content %}
</body>
</html>
```</p>
<p>list.html</p>
<p>```html
{% extends 'theme.html' %}</p>
<p>{% block content %}
    <table class="table table-hover  p-3 m-5">
        {% for account in object_list %}
        <tr>
            <td>{{ account.first_name }} {{ account.last_name }}</td>
            <td>{{ account.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
```</p>
<h3>Includes &amp; Partial templates</h3>
<ul>
<li>Gather content into file</li>
<li>Include the file where it is needed</li>
<li>Use _ to represent partial templates</li>
<li>Makes templates easier to read</li>
</ul>
<p>theme.html</p>
<p>```html
<!DOCTYPE html></p>
<p><html lang="en">
<body>
    {% include 'user_info.html' %}</p>
<pre><code>{% block content %}
{% endblock content %}
</code></pre>
<p></body>
</html>
```</p>
<p>user_info.html</p>
<p>```html</p>
<ul class="navbar-nav text-light ml-auto">

    {% if user.is_authenticated %}

    <li class="nav-item">
        Hello {{ user.username }} <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>

    {% else %}

    <li class="nav-item">
        You are not logged in.
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    </li>

    {% endif %}

</ul>
<p>```</p>
<h3>Navbar, Header, Main, Footer</h3>
<ul>
<li>Create a template with defined blocks<ul>
<li>Title</li>
<li>Navbar</li>
<li>Header</li>
<li>Main</li>
<li>Footer</li>
</ul>
</li>
<li>Use Includes where needed</li>
<li>Make the code easy to read</li>
</ul>
<h3>container, col, card</h3>
<ul>
<li>Main content block should use "container" or "container-fluid"</li>
<li>Decide on when columns are needed</li>
<li>Use cards to organize the visual space</li>
</ul>
<h2>BUILD</h2>
<h3>Demo Code for Reuse</h3>
<ul>
<li><a href="https://github.com/Mark-Seaman/BACS350/tree/main/week8">Week 8 Demo</a></li>
<li><a href="https://github.com/Mark-Seaman/BACS350/tree/main/week8/Lessons">Lessons App Demo</a></li>
</ul>
<h3>Refactoring</h3>
<ul>
<li>Build standard view</li>
<li>Convert view to "theme.html"</li>
<li>Define blocks: Title, Navbar, Header, Main, Footer</li>
<li>Use "theme" in all pages</li>
<li>Test &amp; Commit</li>
</ul>
            
        </div>
    </main>

    
    <footer class="container-fluid text-center bg-dark text-light mt-5 p-3">

    <div class="row">
        <div class="col text-center ">
            &copy;2021 <a href="https://seamanslog.com">Seaman's Log</a> - Big Ideas &amp; Deep Thoughts
        </div>
    </div>
    <div class="row">

        <div class="col p-3">
            <a href="https://twitter.com/mdseaman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
                data-show-count="false">
                Follow mdseaman
            </a>
        </div>

        <div class="col p-3">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
                data-show-count="false">
                Tweet
            </a>
        </div>

        <div class="col p-3">

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="vWwSzcgD"></script>
            If you like share it!

            <div class="fb-share-button" data-href="" data-layout="button" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">
                    Facebook Share
                </a>
            </div>
        </div>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</footer>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>