<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 42</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../unc.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

        <div class="container">

            <a class="navbar-brand text-light" href="/">UNC BACS 350</a>

            <ul class="navbar-nav text-light ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="../lesson/index.html">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../project/index.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../docs/index.html">Documents</a>
                </li>
            </ul>

        </div>

    </nav>

    <header class="p-lg-5">
        <div class="row media">
            <div class="media-body">
                <h1 class="display-4 ml-5">
                    <a href="../index.html">UNC BACS 350</a>
                </h1>
                <h2 class="display-6 ml-5">Web Apps with Python/Django</h2>
            </div>
            <img class="m-3 rounded-circle image-fluid" src="../Bear.png" alt="Logo" width="150">
        </div>
    </header>

    <main>
        <div class="container">
            
            <h1>Extra Content</h1>
<hr />
<h1>Lesson - Testing</h1>
<h2>LEARN</h2>
<h3>Test CRUD</h3>
<p>Use Django Tests to test the CRUD operations</p>
<pre><code>from django.test import TestCase

from .models import Superhero

class CrudTests(TestCase):

    def test_num_heroes(self):
        num_heroes = len(Superhero.objects.all())
        self.assertEqual(num_heroes, 0)
</code></pre>
<h3>Create view test</h3>
<ul>
<li>Test that the URL loads</li>
</ul>
<p>tests.py</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_page_exists(self):
        response = self.client.get('/')
        self.assertEqual(response.status_code, 200)
</code></pre>
<h3>Create the view</h3>
<ul>
<li>Make the missing view to display template</li>
</ul>
<p>templates/index.html</p>
<pre><code>&lt;h1&gt;To Do List&lt;/h1&gt;
</code></pre>
<p>blog/views.py</p>
<pre><code>class IndexView(TemplateView):
    template_name = 'index.html'
</code></pre>
<p>blog/urls.py</p>
<pre><code>from django.urls import path
from .views import IndexView

urlpatterns = [
    path('', IndexView.as_view(), name='index'),
]
</code></pre>
<h3>Test the Template</h3>
<ul>
<li>Make sure the correct template is used</li>
</ul>
<p>tests.py</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_template(self):
        response = self.client.get('/')
        self.assertTemplateUsed(response, template_name='index.html')
</code></pre>
<h3>Test the Title</h3>
<ul>
<li>Look for HTML within the page</li>
</ul>
<p>tests.py</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_title(self):
        response = self.client.get('/')
        self.assertContains(response, '&lt;title&gt;To Do List&lt;/title&gt;')
</code></pre>
<p>add title to pass test</p>
<h3>Look for list items</h3>
<ul>
<li>Look for HTML within the page</li>
</ul>
<p>tests.py</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_title(self):
        response = self.client.get('/')
        self.assertContains(response, '&lt;li&gt;', count=1)
</code></pre>
<p>add title to pass test</p>
<h3>Assertions</h3>
<ul>
<li><a href="https://docs.djangoproject.com/en/3.1/topics/testing/tools/#assertions">Django Test Assertions</a></li>
<li>Most useful assertions<ul>
<li>assertTemplateUsed, assertTemplateNotUsed</li>
<li>assertContains, assertContains</li>
<li>assertEqual, assertNotEqual</li>
<li>assertTrue, assertFalse</li>
</ul>
</li>
</ul>
<h3>Basic tests</h3>
<ul>
<li>Check status code</li>
<li>Check missing pages</li>
<li>Check page content</li>
<li>Check the URL</li>
<li>Check for redirect</li>
<li>Ensure bad content not present</li>
</ul>
<h3>Data Model Design Pattern</h3>
<p>blog/models.py</p>
<pre><code>from django.db import models

class Post(models.Model):
    title = models.CharField(max_length=200)
    author = models.ForeignKey('auth.User', on_delete=models.CASCADE)
    body = models.TextField()
</code></pre>
<h3>CreateView Design Pattern</h3>
<p>templates/post_new.html</p>
<p>```</p>
<pre><code>&lt;form action="" method="post"&gt;{% csrf_token %}
   {{ form.as_p }}
   &lt;input type="submit" value="Save"&gt;
&lt;/form&gt;
</code></pre>
<p>```</p>
<p>blog/urls.py</p>
<pre><code>from django.urls import path
from .views import BlogCreateView

urlpatterns = [
    path('new/', BlogCreateView.as_view(), name='post_new'),
]
</code></pre>
<p>blog/views.py</p>
<pre><code>class BlogCreateView(CreateView):
    model = Post
    template_name = 'post_new.html'
    fields = ['title', 'author', 'body']
</code></pre>
<h3>Test the Create</h3>
<ul>
<li>
<p>Test the object in memory</p>
<p>from django.contrib.auth import get_user_model
from django.test import TestCase
from django.urls import reverse</p>
<p>from .models import Post</p>
<p>class BlogTests(TestCase):</p>
<pre><code>def setUp(self):
    self.user = get_user_model().objects.create_user(
        username='testuser',
        email='test@email.com',
        password='secret'
    )

    self.post = Post.objects.create(
        title='A good title',
        body='Nice body content',
        author=self.user,
    )

def test_post_content(self):
    self.assertEqual(f'{self.post.title}', 'A good title')
    self.assertEqual(f'{self.post.author}', 'testuser')
    self.assertEqual(f'{self.post.body}', 'Nice body content')
</code></pre>
</li>
</ul>
<h3>Test the Database Records</h3>
<ul>
<li>Get the ListView</li>
<li>Look for the content we added<pre><code>def test_post_list_view(self):
    response = self.client.get(reverse('post_list'))
    self.assertEqual(response.status_code, 200)
    self.assertContains(response, 'Nice body content')
    self.assertTemplateUsed(response, 'post_list.html')
</code></pre>
</li>
</ul>
<h3>ListView Design Pattern</h3>
<p>templates/post_list.html</p>
<p><code>{% for post in object_list %}
        &lt;h3&gt;&lt;a href="{% url 'post_detail' post.pk %}"&gt;{{ post.title }}&lt;/a&gt;&lt;/h3&gt;
        &lt;p&gt;{{ post.body }}&lt;/p&gt;
    {% endfor %}</code>   </p>
<p>blog/urls.py</p>
<pre><code>urlpatterns = [
    path('', BlogListView.as_view(), name='post_list'),
]
</code></pre>
<p>blog/views.py</p>
<pre><code>class BlogListView(ListView):
    model = Post
    template_name = 'post_list.html'
</code></pre>
<h3>DetailView Design Pattern</h3>
<p>templates/post_detail.html</p>
<p>``` <br />
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p></p>
<pre><code>&lt;a href="{% url 'post_edit' post.pk %}"&gt;Edit Blog Post&lt;/a&gt;
&lt;a href="{% url 'post_delete' post.pk %}"&gt;Delete Blog Post&lt;/a&gt;
</code></pre>
<p>``` </p>
<p>blog/urls.py</p>
<pre><code>urlpatterns = [
    path('&lt;int:pk&gt;/', BlogDetailView.as_view(), name='post_detail'),
]
</code></pre>
<p>blog/views.py</p>
<pre><code>class BlogDetailView(DetailView):
    model = Post
    template_name = 'post_detail.html'
</code></pre>
<h3>UpdateView Design Pattern</h3>
<p>templates/post_edit.html</p>
<p><code>&lt;form action="" method="post"&gt;{% csrf_token %}
        {{ form.as_p }}
        &lt;input type="submit" value="Update"&gt;
    &lt;/form&gt;</code></p>
<p>blog/urls.py</p>
<pre><code>urlpatterns = [
    path('&lt;int:pk&gt;/edit/', BlogUpdateView.as_view(), name='post_edit'),
]
</code></pre>
<p>blog/views.py</p>
<pre><code>class BlogUpdateView(UpdateView):
    model = Post
    template_name = 'post_edit.html'
    fields = ['title', 'body']
</code></pre>
<h3>DeleteView Design Pattern</h3>
<p>templates/post_delete.html</p>
<p>```
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p></p>
<pre><code>&lt;a href="{% url 'post_edit' post.pk %}"&gt;Edit Blog Post&lt;/a&gt;
&lt;a href="{% url 'post_delete' post.pk %}"&gt;Delete Blog Post&lt;/a&gt;
</code></pre>
<p>```</p>
<p>blog/urls.py</p>
<pre><code>urlpatterns = [
    path('&lt;int:pk&gt;/delete/', BlogDeleteView.as_view(), name='post_delete'),
]
</code></pre>
<p>blog/views.py</p>
<pre><code>from django.urls import reverse_lazy

class BlogDeleteView(DeleteView):
    model = Post
    template_name = 'post_delete.html'
    success_url = reverse_lazy('post_list')
</code></pre>
<h3>Full Test Suite</h3>
<ul>
<li>
<p>Test code from "Django for Beginners" - William Vincent</p>
<p>from django.contrib.auth import get_user_model
from django.test import TestCase
from django.urls import reverse</p>
<p>from .models import Post</p>
<p>class BlogTests(TestCase):</p>
<pre><code>def setUp(self):
    self.user = get_user_model().objects.create_user(
        username='testuser',
        email='test@email.com',
        password='secret'
    )

    self.post = Post.objects.create(
        title='A good title',
        body='Nice body content',
        author=self.user,
    )

def test_string_representation(self):
    post = Post(title='A sample title')
    self.assertEqual(str(post), post.title)

def test_get_absolute_url(self): 
    self.assertEqual(self.post.get_absolute_url(), '/post/1/')

def test_post_content(self):
    self.assertEqual(f'{self.post.title}', 'A good title')
    self.assertEqual(f'{self.post.author}', 'testuser')
    self.assertEqual(f'{self.post.body}', 'Nice body content')

def test_post_list_view(self):
    response = self.client.get(reverse('home'))
    self.assertEqual(response.status_code, 200)
    self.assertContains(response, 'Nice body content')
    self.assertTemplateUsed(response, 'home.html')

def test_post_detail_view(self):
    response = self.client.get('/post/1/')
    no_response = self.client.get('/post/100000/')
    self.assertEqual(response.status_code, 200)
    self.assertEqual(no_response.status_code, 404)
    self.assertContains(response, 'A good title')
    self.assertTemplateUsed(response, 'post_detail.html')

def test_post_create_view(self):
    response = self.client.post(reverse('post_new'), {
        'title': 'New title',
        'body': 'New text',
        'author': self.user.id,
    })
    self.assertEqual(response.status_code, 302)
    self.assertEqual(Post.objects.last().title, 'New title')
    self.assertEqual(Post.objects.last().body, 'New text')

def test_post_update_view(self):
    response = self.client.post(reverse('post_edit', args='1'), {
        'title': 'Updated title',
        'body': 'Updated text',
    })
    self.assertEqual(response.status_code, 302)

def test_post_delete_view(self): 
    response = self.client.post(
        reverse('post_delete', args='1'))
    self.assertEqual(response.status_code, 302)
</code></pre>
</li>
</ul>
<h1>Lesson 17 - Custom Views</h1>
<h2>LEARN</h2>
<h3>Project 6 - Superhero Database</h3>
<ul>
<li>Deadline Extended to Oct 9</li>
<li>Additional requirements added</li>
<li>You must push for closure</li>
</ul>
<h3>Complete Your Projects</h3>
<ul>
<li>Project 1 - Setup development tools</li>
<li>Project 2 - Build a simple app</li>
<li>Project 3 - Application Hosting</li>
<li>Project 4 - TemplateView</li>
<li>Project 5 - Data Models</li>
<li>Project 6 - Data Model Views</li>
</ul>
<h3>Working the Project in Class</h3>
<ul>
<li>Live demo of solving the problems</li>
<li>You must apply this knowledge</li>
<li>You must invest 9 hours weekly</li>
</ul>
<h3>Add Data to Django Views</h3>
<p>templates/page.html</p>
<pre><code>&lt;h1&gt;{{ title }}&lt;/h1&gt;
&lt;p&gt;
    {{ body}}
&lt;/p&gt;
</code></pre>
<h3>Data as dictionary</h3>
<p>Define what goes in the variable slots</p>
<pre><code>{
    'title': 'My Home Page', 
    'body': 'This page is boring ...',
}
</code></pre>
<h3>Setting View Context</h3>
<p>pages/views.py</p>
<pre><code> class HomeView(TemplateView):
    template_name = "page.html"

    def get_context_data(self, **kwargs):
        return {
            'title': 'My Home Page', 
            'body': 'This page is boring ...',
        }
</code></pre>
<h3>Changes to the Database</h3>
<ul>
<li>Databases can be modified</li>
<li>Old data must be migrated to the new structure </li>
</ul>
<h2>BUILD</h2>
<h3>Development Demo</h3>
<ul>
<li>Project 4 - TemplateView</li>
<li>Project 5 - Data Models</li>
<li>Demo 17</li>
</ul>
<h3>To Do List</h3>
<ul>
<li>Create an app</li>
<li>Enable templates</li>
<li>Build template</li>
<li>Build view</li>
<li>Add data to view</li>
<li>Build model</li>
</ul>
<h3>Use This Demo</h3>
<ul>
<li>Study this code</li>
<li>Work the demo for yourself</li>
<li>Complete Project 5</li>
</ul>
<h3>templates/base.html</h3>
<p>Define a template that can be loaded like any other.  Notice the "{% block content %}".</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;BACS 350 Page&lt;/title&gt;
        &lt;link rel="stylesheet" href="styles.css"&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;h1&gt;BACS 350 Page&lt;/h1&gt;
        {% block content %}
            &lt;h2&gt;No Block Defined&lt;/h2&gt;
        {% endblock content %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h3>templates/about.html</h3>
<p>The template can be extended to replace the "{% block content %}".</p>
<pre><code>{% extends 'base.html' %}

{% block content %}
    &lt;h2&gt;About Us&lt;/h2&gt;
    &lt;p&gt;This is all about us!&lt;/p&gt;
{% endblock content %}
</code></pre>
<h3>templates/profile.html</h3>
<p>The template can be extended to replace the "{% block content %}".</p>
<pre><code>{% extends 'base.html' %}

{% block content %}
    &lt;h2&gt;Profile Page&lt;/h2&gt;
    &lt;p&gt;This is my profile&lt;/p&gt;
{% endblock content %}
</code></pre>
<h3>templates/page_theme.html</h3>
<ul>
<li>View a more realistic example with several components</li>
<li>The theme load both CSS and JavaScript</li>
<li>A header, footer, and main are defined</li>
<li><a href="https://github.com/Mark-Seaman/UNC-BACS-350/blob/master/demo/week04/demo10/templates/page_theme.html">Page Theme</a></li>
</ul>
<h1>Lesson xx - Composite Views</h1>
<h2>LEARN</h2>
<h3>View Inheritance</h3>
<ul>
<li>Define a base template </li>
<li>Add "{% block content %}"</li>
<li>Extend base template for other pages</li>
</ul>
<h3>templates/base.html</h3>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;BACS 350 Page&lt;/title&gt;
        &lt;link rel="stylesheet" href="styles.css"&gt;
    &lt;/head&gt;        
    &lt;body&gt;
        {% block content %}
        {% endblock content %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h3>templates/about.html</h3>
<pre><code>{% extends 'base.html' %}

{% block content %}
    &lt;h2&gt;About Us&lt;/h2&gt;
    &lt;p&gt;This is all about us!&lt;/p&gt;
{% endblock content %}
</code></pre>
<h3>Block Nesting - base.html</h3>
<p>```
{% block content %}</p>
<pre><code>{% block header %}
{% endblock header %}

{% block main %}
{% endblock main %}

{% block footer %}
{% endblock footer %}
</code></pre>
<p>{% endblock content %}
```</p>
<h3>Block Nesting - page.html</h3>
<p>```
    {% extends 'base.html' %}</p>
<pre><code>{% block main %}
{% endblock main %}
</code></pre>
<p>```</p>
<h3>Includes</h3>
<ul>
<li>Include another HTML file in a template</li>
<li>Makes templates easy to read</li>
<li>Partial templates should start with "_" </li>
</ul>
<p><code>{% include '_head.html' %}
    {% include '_main_menu.html' %}
    {% include '_side_menu.html' %}
    {% include '_main.html' %}
    {% include '_footer.html' %}</code></p>
<h2>BUILD</h2>
<h3>Project 4 - Superhero News</h3>
<ul>
<li>Build a web app at Python Anywhere</li>
<li>Index gives a list of heroes</li>
<li>Links display details of each hero</li>
<li>Each page has a photo</li>
</ul>
<h3>Skills</h3>
<ul>
<li>Define and load HTML templates</li>
<li>Pass data to a view</li>
<li>Pass arguments from URL</li>
<li>View inheritance</li>
<li>Use of CSS</li>
</ul>
<h3>Superhero Views</h3>
<ul>
<li>startproject Superhero</li>
<li>startapp hero</li>
<li>setttings<ul>
<li>templates (templates)</li>
<li>static server (static)</li>
<li>installed apps (hero)</li>
<li>root URLs (hero.urls)</li>
<li>migrate database models</li>
</ul>
</li>
</ul>
<h3>Add Views</h3>
<ul>
<li>Index view template (index.html)</li>
<li>Hero view template (hero.html)</li>
<li>Views (Index View, Hero View)</li>
<li>URL routes ('', 'hero/<str:hero>')</li>
</ul>
<h3>Test Index View</h3>
<p>Use Django Tests to get index view</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_index_view(self):
        response = self.client.get('/')
        self.assertEqual(response.status_code, 200)
</code></pre>
<h3>Test Hero Views</h3>
<p>Use Django Tests to get index view</p>
<pre><code>from django.test import SimpleTestCase

class ViewTests(SimpleTestCase):

    def test_hero_view(self):
        response = self.client.get('hero/hulk')
        self.assertEqual(response.status_code, 200)
        response = self.client.get('hero/widow')
        self.assertEqual(response.status_code, 200)
</code></pre>
<h1>Lesson - Data Model Views</h1>
<h2>LEARN</h2>
<h3>Design Pattern</h3>
<ul>
<li>Create reusable knowledge and code </li>
<li>Solve each type of problem only once</li>
<li>Use the solution everywhere you can</li>
</ul>
<h3>Design Patterns</h3>
<ul>
<li>Data Models</li>
<li>Data CRUD</li>
<li>View Prototype</li>
<li>Data Views</li>
</ul>
<h3>Design Pattern Simple Solution</h3>
<ul>
<li>Simplest Solution - Quick win</li>
<li>Fewest lines of code possible</li>
<li>Documented running example </li>
<li>Recreate running code in less that five minutes</li>
<li><a href="https://www.w3schools.com/python/trypython.asp?filename=demo_json">W3Schools Tutorials</a></li>
</ul>
<h3>Reading and Writing</h3>
<ul>
<li>You must learn how to read first</li>
<li>Then you can learn to write</li>
<li>Writing takes 10 times the effort</li>
</ul>
<h3>Using a Design Pattern</h3>
<ul>
<li>Using a well-designed pattern should take 1-2 hours</li>
<li>Copy the code</li>
<li>Run the demo and debug any issues you find</li>
<li>Make a series of incremental changes using test driven development</li>
</ul>
<h3>Creating Your Own Pattern</h3>
<ul>
<li>You must have 100 hours of experience to create a pattern</li>
<li>Requires applying the pattern at least 10 times</li>
<li>Collect patterns from others</li>
<li>Build a library of design patterns</li>
</ul>
<h3>Data Model Views Pattern</h3>
<ul>
<li>Build views for all CRUD operations</li>
<li>Supports CREATE using CreateView</li>
<li>Supports READ using ListView</li>
<li>Supports READ using DetailView</li>
<li>Supports UPDATE using UpdateView</li>
<li>Supports DELETE using DeleteView</li>
</ul>
<h3>Data Model Views Pattern Solution</h3>
<ul>
<li>Collection of specific patterns<ul>
<li>Data Model Design Pattern</li>
<li>CreateView Design Pattern</li>
<li>ListView Design Pattern</li>
<li>DetailView Design Pattern</li>
<li>UpdateView Design Pattern</li>
<li>DeleteView Design Pattern</li>
</ul>
</li>
</ul>
<h1>Lesson 25 - Table View</h1>
<h2>LEARN &amp; BUILD</h2>
<h3>Workshop Views</h3>
<ul>
<li>Theme View</li>
<li>Workshop View</li>
<li>Home View</li>
<li>Card View</li>
<li>Cards View</li>
<li>Document View</li>
</ul>
<h3>Document View</h3>
<ul>
<li>Use Markdown Converter to produce HTML</li>
<li>Display Markdown Document</li>
<li>Display File and Database records</li>
<li><a href="https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/workshop/views.py">views.py</a></li>
<li><a href="https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/workshop/workshop.py">workshop.py</a></li>
<li><a href="https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/templates/markdown.html">templates/markdown.html</a></li>
</ul>
<h3>Partial Templates</h3>
<ul>
<li>_navbar.html</li>
<li>_user.html</li>
<li>_header.html</li>
<li>_footer.html</li>
<li>_card.html</li>
<li>_cards.html</li>
<li>_doc.html</li>
</ul>
<h3>Tables</h3>
<ul>
<li>Handle spreadsheet data or database records</li>
<li>Rows and columns</li>
<li>
<p>Save tabular data as CSV file</p>
<p>bacs350,27,2020-10-26,10,Base Template
bacs350,28,2020-10-28,10,Template Includes
bacs350,29,2020-10-30,10,Card Views
bacs350,30,2020-11-02,11,Markdown View
bacs350,31,2020-11-04,11,Table View</p>
</li>
</ul>
<h3>Python CSV Reader</h3>
<ul>
<li>Read a CSV file</li>
<li>Print each row</li>
</ul>
<p>```python
from csv import reader</p>
<p>with open('lessons.csv') as f:
    for row in reader(f):
        print(row)
```</p>
<h3>Python CSV Writer</h3>
<ul>
<li>Take in a table (rows, columns)</li>
<li>Write a CSV file</li>
</ul>
<p>```python
import csv
with open('lessons.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(table)</p>
<p>```</p>
<h3>Read from String</h3>
<ul>
<li>Read a CSV file</li>
<li>Print each row</li>
</ul>
<p>```python
from csv import reader</p>
<p>csv_string = '''bacs350,27,2020-10-26,10,Base Template
bacs350,28,2020-10-28,10,Template Includes
bacs350,29,2020-10-30,10,Card Views
bacs350,30,2020-11-02,11,Markdown View
bacs350,31,2020-11-04,11,Table View
'''</p>
<p>rows = csv_string.split('\n')</p>
<p>for row in reader(rows):
    print(row)
```</p>
<h3>View Logic</h3>
<ul>
<li>Read the CSV file</li>
<li>Pass the table to the template</li>
</ul>
<p>```python
class TableView(TemplateView):</p>
<pre><code>def get_context_data(self, **kwargs):
    return dict(table=read_lesson_table('lessons.csv'))
</code></pre>
<p>def read_lesson_table(path):
    return reader(open(path))
```</p>
<h3>Table Template</h3>
<ul>
<li>Create templates to display the data</li>
<li>Iterate over rows and columns</li>
</ul>
<p>```html</p>
<table>
    {% for row in table %}
        <tr>
            {% for column in row %}
                <td>
                    {{ column }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<p>```</p>
<h3>Consolidate Document Files</h3>
<ul>
<li>Create Documents directory</li>
<li>Move all documents into folder<ul>
<li>README.md</li>
<li>lessons.csv</li>
<li>lorem.txt</li>
</ul>
</li>
</ul>
<h3>Add Document Selector</h3>
<ul>
<li>Add document path to URL route</li>
<li>Pass doc name to view</li>
<li>Show error when file is missing</li>
</ul>
<h3>Create Pages</h3>
<ul>
<li>Pages should inherit theme</li>
<li>Pages should use the correct partial template</li>
<li>Style should come from theme</li>
</ul>
<h2>BUILD</h2>
<h3>Demo Code</h3>
<ul>
<li><a href="https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo31">Demo 31</a></li>
</ul>
<h3>Project 10 - Cards &amp; Tables &amp; Docs</h3>
<ul>
<li>Composite Views</li>
<li>Style with Bootstrap</li>
<li>View Inheritance</li>
<li>Dynamic Menu</li>
<li>Responsive Design</li>
<li>Data Fields - strengths, weakness, image</li>
<li><a href="../project/10">Project 10 - Instructions</a></li>
</ul>
            
        </div>
    </main>

    
    <footer class="container-fluid text-center bg-dark text-light mt-5 p-3">

    <div class="row">
        <div class="col text-center ">
            &copy;2021 <a href="https://seamanslog.com">Seaman's Log</a> - Big Ideas &amp; Deep Thoughts
        </div>
    </div>
    <div class="row">

        <div class="col p-3">
            <a href="https://twitter.com/mdseaman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
                data-show-count="false">
                Follow mdseaman
            </a>
        </div>

        <div class="col p-3">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
                data-show-count="false">
                Tweet
            </a>
        </div>

        <div class="col p-3">

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="vWwSzcgD"></script>
            If you like share it!

            <div class="fb-share-button" data-href="" data-layout="button" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">
                    Facebook Share
                </a>
            </div>
        </div>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</footer>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>