.header {
    text-align: center;
}

.hero {
    margin: 2em;
    border-radius: 10px;
}

body * {
    margin: 0;
    padding: 0;
}

.container {
    padding: 2em;
}

h2 {
    margin-top: 1em;
}

img {
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    margin: 3em;
    max-width: 80%;
}