{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Developer Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                <table class="table">
                    <tr>
                        <td>Developer</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{ object.title }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.body }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <a href="/developer/" class="btn btn-success m-5">Developer List</a>
    <a href="/developer/{{ object.pk }}/" class="btn btn-success m-5">Edit Developer</a>
</div>

{% endblock content %}