{% extends 'theme.html' %}



{% block content %}

<div class="container m-5 p-5">

    <h1 class="text-primary">Edit Developer</h1>
    <div class="card m-5">
        <div class="card-header">
            Account Info
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="max-width: 10em">
                    <p>Name</p>
                    <p>Email</p>
                    <p>User ID</p>
                </div>

                <div class="col">
                    <p>{{ object.user.first_name }} {{ object.user.last_name }}</p>
                    <p>{{ object.user.email }}</p>
                    <p>{{ object.user.username }}</p>
                </div>

                <div class="col">
                    <a href="/developer/account/{{ object.user.pk }}/" class="btn btn-success">
                        Edit Account
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-header">
            Developer Info
        </div>
        <div class="card-body">
            {% include '_edit.html' %}
        </div>
    </div>


</div>

{% endblock content %}