{% extends 'theme.html' %}



{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Software Project Plan</h1>

    <p>Welcome to the Shrinking World Software Project Planner.</p>
    <p>
        Project work is organized around 7 milestones and 4 development roles.
    </p>
    <p>
        The planning grid is used to clearly present all of the work that must be done throughout the project.
        Each cell in the grid represents the required deliverables for one milestone and one role.
    </p>
    <p>
        This planner allows you to record your progress during the full development cycle and provides
        a way to gain customer feedback as you go.
    </p>

</div>

{% endblock content %}