{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Milestone Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                {% include '_milestone.html' %}

            </div>

        </div>
    </div>

    <a href="/project/{{ object.project.pk }}" class="btn btn-success m-5">Project</a>
    <a href="/milestone/{{ object.pk }}/" class="btn btn-success m-5">Edit Milestone</a>
</div>

{% endblock content %}