{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">


    <div class="container">
        <div class="row">

            <div class="col-lg">

                <h2 class="text-primary text-center">Project Details</h2>

                {% include '_project.html' %}

            </div>
            <div class="col-lg">

                <h2 class="text-primary text-center">Milestones</h2>

                {% include '_milestones.html' %}
            </div>
        </div>
    </div>

    <a href="/developer/{{ object.developer.pk }}" class="btn btn-success m-5">Developer</a>
    <a href="/project/{{ object.pk }}/" class="btn btn-success m-5">Edit Project</a>
    <a href="/milestone/{{ object.pk }}/add" class="btn btn-success m-5">Add Project Milestone</a>
</div>

{% endblock content %}