<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Gallery</title>
    <link rel="stylesheet" href="/static/super.css">
</head>

<body>
    <header>
        <div class="row">
            <div class="col-6">
                <h1>Superhero Gallery</h1>
            </div>
            <div class="col-3">
                <img src="/static/images/Bear.200.png" alt="UNC Bear">
            </div>
        </div>
    </header>

    <main>
        <p><a href="/admin/">Admin Views for Superhero</a></p>
    </main>

</body>

</html>