<html>

<head>
    <title>User Authentication Demo</title>
    <link href="/static/css/style.css" rel="stylesheet" s>
</head>

<body>
    <header>
        <h1>
            <a href="{% url 'home' %}">User Authentication Demo</a>
        </h1>


        {% block user %}
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Log In</a></p>
        <p><a href="{% url 'signup' %}">Sign Up</a></p>

        {% endif %}
        {% endblock user %}


    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>