{% extends 'theme.html' %}


{% block title %}
Photo Details
{% endblock title %}


{% block content %}

<h1>Photo Details</h1>

<div class="row">

    <div class="card col-lg">

        <div class="card-header message">
            Photo
        </div>
        <div class="card-body">


            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><a href="/photo/{{ object.pk }}/">{{ object.title }}</a></td>
                </tr>
                <tr>
                    <td>Path</td>
                    <td>{{ object.image }}</td>
                </tr>
            </table>

            <img src="/media/{{ object.image }}" alt="{{ object.image }}" style="max-width:300px">

        </div>

    </div>
    <p>
        <a href="/photo/" class="btn btn-success m-5">All Photos</a>
        <a href="/photo/carousel" class="btn btn-success m-5">Carousel</a>
    </p>
</div>

{% endblock content %}