<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid bg-dark text-light">
        <div class="row m-3 p-5">

            <div class="col-md">
                <h1>Jacob Hardman</h1>
                <p>Musician, Author, Gamer, Developer, Follower of Jesus</p>
                <h2>Skills</h2>
                <p>Playing Guitar</p>
                <p>Writing Code</p>
                <p>Great Sense of Humor</p>
                <h2>Weaknesses</h2>
                <p>Pizza</p>
                <p>Insomnia</p>
                <h2>Contacts</h2>
                <p>Twitter: @optitronic</p>
                <p>Instagram: @thejacobhardman</p>
                <p>Facebook: Jacob Hardman</p>
                <p>Email: hard7293@bears.unco.edu</p>
            </div>

            <div class="col-md">
                <img src="/static/images/Headshot.jpg" alt="Iron Man" width="500">
            </div>

        </div>
    </div>

</body>

</html>