{% extends 'theme.html' %}

{% block content %}

<div class="container">
    <div class="row">

        {% for note in object_list %}

        <div class="card col m-5 p-5  bg-light text-dark ">

            <p>
                <a href="{{ note.pk }}">
                    <b>{{ note.title }}</b>
                </a>
            </p>
            <p>
                {{ note.body }}
            </p>

        </div>

        {% endfor %}

    </div>

    <div class="bg-dark text-light">
        <a href="/admin/" class="btn bg-success text-light m-5">Admin Views</a>
        <a href="/doc/" class="btn bg-success text-light m-5">Documentation</a>
    </div>
</div>




{% endblock content %}