{% extends 'theme.html' %}


{% block title %}
{% endblock title %}



{% block content %}


<div class="container mt-5">
    <div class="row">

        <div class="col-6">
            <h3>Typography</h3>
            <p>Bootstrap defines many classes that set CSS styles</p>
            <ul>
                <li>h1, h2, h3</li>
                <li>display-1, ... display-6</li>
                <li>text-center</li>
                <li>&lt;pre&gt; element
                    <pre class="bg-dark text-light p-3">Show some preformatted text with style. </pre>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">

                <div class="card-header bg-primary text-light">
                    Classes for colors
                </div>
                <div class="row">

                    <div class="col-lg">
                        <div class="card">
                            <div class="card-header"><b>Background colors</b></div>
                            <div class="card-body">
                                <p>.bg-primary</p>
                                <p>.bg-success</p>
                                <p>.bg-info</p>
                                <p>.bg-warning</p>
                                <p>.bg-danger</p>
                                <p>.bg-secondary</p>
                                <p>.bg-dark</p>
                                <p>.bg-light</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg">
                        <div class="card">
                            <div class="card-header"><b>Text colors</b></div>
                            <div class="card-body">
                                <p>.text-primary</p>
                                <p>.text-success</p>
                                <p>.text-info</p>
                                <p>.text-warning</p>
                                <p>.text-danger</p>
                                <p>.text-secondary</p>
                                <p>.text-dark</p>
                                <p>.text-light</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-6 mt-5">
            <div class="card bg-success text-light p-5">
                <h4>W3Schools - Bootstrap</h4>
                <ul>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/index.php">Getting
                            Started</a>
                    </li>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/bootstrap_typography.php">Typography</a>
                    </li>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/bootstrap_buttons.php">Buttons</a>
                    </li>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/bootstrap_grid_basic.php">Grid</a>
                    </li>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/bootstrap_containers.php">Containers</a>
                    </li>
                    <li>
                        <a class="text-light" target="w3schools"
                            href="https://www.w3schools.com/bootstrap5/bootstrap_colors.php">Colors</a>
                    </li>

                </ul>

            </div>
        </div>

    </div>
</div>

{% endblock content %}