/*!* ----------------------------------------------- *!*/
/*!* HTML Elements *!*/
/*!**/
h3 {
  color: #0E3D65;
}

h2 {
  color: #0E3D65;
}

header {
  border: 5px solid #F6B018;
  background-color: #0E3D65;
  font-family: sans-serif;
  /*padding: 1.5em;*/
  margin-bottom: 2em;
}
header a {
  color: white;
}
header a:hover {
  color: #F6B018;
}
header h1 {
  color: #F6B018;
  border: none;
  padding: 0;
  margin: 20px 0;
  box-shadow: none;
  text-align: left;
}
header h2 {
  color: white;
  background-color: #0E3D65;
  box-shadow: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

hr {
  border: 4px solid #F6B018;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

p {
  margin: 1em;
}

pre {
  border: 1px solid #F6B018;
  border-left: 3px solid #F6B018;
  border-right: 3px solid #F6B018;
  background-color: #f0f0f0;
  margin-left: 3em;
  margin-right: 3em;
  padding: 10px 20px;
}

/* ----------------------------------------------- */
/* Classes */
.error {
  border: 5px #dc3545 solid;
  border-radius: 10px;
  color: #dc3545;
  font-style: italic;
  font-weight: bold;
}

.traffic {
  background-color: #343a40;
  height: 200px;
  width: 80px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.traffic-single {
  height: 80px !important;
}

.traffic-light {
  background-color: #343a40;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}

.yellow {
  background-color: #ffc107;
}

.off {
  background-color: #343a40;
}

.card {
  border: 1px solid #0E3D65;
}

.card-header {
  font-weight: bold;
  padding: 10px;
  color: #0E3D65 !important;
  background-color: #F6B018 !important;
}

.collapse-header {
  font-size: 30px;
  color: #0E3D65;
}

.unc-button {
  border: 2px solid #0E3D65;
  color: #0E3D65;
  background-color: #F6B018;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
  font-weight: bold;
  /*margin: 1rem;*/
  padding: 10px;
}

.unc-dark {
  color: #F6B018 !important;
  background-color: #0E3D65 !important;
}

.unc-light {
  color: #0E3D65 !important;
  background-color: #F6B018 !important;
}
