{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Authors</h1>

    <table class="table table-hover">
        <tr>
            <th>Author</th>
            <th>Biography</th>
            <th>Edit</th>
        </tr>

        {% for author in object_list %}
        <tr>
            <td><a href="/author/{{ author.pk }}">{{ author.name }}</a></td>
            <td>{{ author.bio }}</td>
            <td>
                <a href="/author/{{ author.pk }}/">Edit</a> /
                <a href="/author/{{ author.pk }}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/accounts/signup" class="btn btn-success m-5">Add New Author</a>
    </p>

</div>

{% endblock content %}