<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

    <div class="container">

        <a class="navbar-brand text-light" href="/">Blog Builder</a>

        <ul class="navbar-nav text-light ml-auto">

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'blog_list' %}">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'article_list' %}">Articles</a>
            </li>

        </ul>

    </div>

</nav>