{% extends 'theme.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% for hero in object_list %}
        <div class="card col-4 m-5 p-5 bg-light text-dark">
            <p>
                <a href="{{ hero.pk }}">
                    <b>{{ hero.name }}</b>
                </a>
            </p>
            <p>
                <img src="{{ hero.image }}" alt="{{ hero.name }}">
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}