.title-overlay {
    position: absolute;
    display: block;
    top: 2em;
    left: 2em;
    width: 400px;
    height: 150px;
    margin: 300px 20%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 100%;
}

.title-overlay h1 {
    color: white;
    font: 200% Arial;
    text-shadow: 2px 2px 5px gray;
    max-width: 100%;
}

img {
    max-width: 100%;
}