{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5 text-center">

    <h1 class="text-primary">List of Books</h1>

    <table class="table table-hover">
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>

        {% for book in object_list %}
        <tr>
            <td><a href="{{ book.pk }}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td><a href="{{ book.pk }}/">Edit</a></td>
            <td><a href="{{ book.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/admin/" class="btn btn-success m-5">Modify Database with Admin Views</a>
        <a href="/book/add" class="btn btn-success m-5">Add New Book</a>
    </p>

</div>

{% endblock content %}