{% extends 'theme.html' %}

{% block content %}

<div class="container-fluid m-5 text-center">

    <h1 class="text-primary">Chapter Details</h1>

    <p>Title:</p>
    <p><b>{{ object.title }}</b></p>
    <p>Author:</p>
    <p><b>{{ object.author }}</b></p>

    <a href="/chapter/" class="btn btn-success m-5">Chapter List</a>
    <a href="/chapter/{{ object.pk }}/" class="btn btn-success m-5">Edit Chapter</a>
    <a href="/chapter/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Chapter</a>
</div>

{% endblock content %}