{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Probes</h1>

    <table class="table table-hover">
        <tr>
            <th>Probe</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>

        {% for probe in object_list %}
        <tr>
            <td><a href="/probe/{{ probe.pk }}">{{ probe.title }}</a></td>
            <td><a href="/probe/{{ probe.pk }}">{{ probe.description }}</a></td>
            <td><a href="/author/{{ probe.author.pk }}">{{ probe.author.name }}</a></td>
            <td><a href="/probe/{{ probe.pk }}/">Edit</a></td>
            <td><a href="/probe/{{ probe.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/probe/add" class="btn btn-success m-5">Add New Probe</a>
    </p>

</div>

{% endblock content %}