{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Courses</h1>

    <table class="table table-hover">
        <tr>
            <th>Course</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>

        {% for course in object_list %}
        <tr>
            <td><a href="/course/{{ course.pk }}">{{ course.title }}</a></td>
            <td><a href="/course/{{ course.pk }}">{{ course.description }}</a></td>
            <td><a href="/author/{{ course.author.pk }}">{{ course.author.name }}</a></td>
            <td><a href="/course/{{ course.pk }}/">Edit</a></td>
            <td><a href="/course/{{ course.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/course/add" class="btn btn-success m-5">Add New Course</a>
    </p>

</div>

{% endblock content %}