{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Messages</h1>

    <table class="table table-hover">
        <tr>
            <th>Message</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>

        {% for Message in object_list %}
        <tr>
            <td><a href="/Message/{{ Message.pk }}">{{ Message.title }}</a></td>
            <td><a href="/Message/{{ Message.pk }}">{{ Message.description }}</a></td>
            <td><a href="/author/{{ Message.author.pk }}">{{ Message.author.name }}</a></td>
            <td><a href="/Message/{{ Message.pk }}/">Edit</a></td>
            <td><a href="/Message/{{ Message.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/Message/add" class="btn btn-success m-5">Add New Message</a>
    </p>

</div>

{% endblock content %}