{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Messages</h1>

    <table class="table table-hover">
        <tr>
            <th>Message</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>

        {% for message in object_list %}
        <tr>
            <td><a href="/message/{{ message.pk }}">{{ message.title }}</a></td>
            <td><a href="/message/{{ message.pk }}">{{ message.description }}</a></td>
            <td><a href="/author/{{ message.author.pk }}">{{ message.author.name }}</a></td>
            <td><a href="/message/{{ message.pk }}/">Edit</a></td>
            <td><a href="/message/{{ message.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/message/add" class="btn btn-success m-5">Add New Message</a>
    </p>

</div>

{% endblock content %}