{% extends 'theme.html' %}


{% block title %}
Person Details
{% endblock title %}



{% block content %}

<div class="row">

    <div class="col-lg">

        {% include '_person.html' %}

    </div>
    <div class="col-lg">

        <h2 class="text-primary text-center">Person</h2>

        {% include '_persons.html' %}
    </div>

</div>

<a href="/accounts/{{ object.user.pk }}" class="btn btn-success m-5">User Detail</a>
<a href="/person/{{ object.pk }}/" class="btn btn-success m-5">Edit Person</a>

{% endblock content %}