<div class="card col-lg">

    <div class="card-header message">
        Book
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Book</th>
                <th>Description</th>
            </tr>

            {% for book in books %}
            <tr>
                <td><a href="/book/{{ book.pk }}">{{ book.title }}</a></td>
                <td>{{ book.notes }}</td>
            </tr>
            {% endfor %}

        </table>

        <p>
            <a href="/book/add" class="btn btn-success m-5">Add New Book</a>
        </p>
    </div>

</div>