$big-padding: 3rem;
$border: 5px solid black;
$light: #ddd;
$blue: steelblue;

body {
  background-color: $light;

  header {
    color: $light;
    background-color: $blue;
    padding: $big-padding;
    border: $border;
  }

  p {
    color: $blue;
  }
}

nav {
  ul {
    margin: 0;
    padding: $big_padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    text-decoration: none;
  }
}