{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <div class="card m-5">
        <div class="card-header bg-primary text-light">
            <h3>Chapter {{ object.order }} - {{ object.title }}</h3>
        </div>
        <div class="card-body p-5">
            {% autoescape off %}
            {{ object.html }}
            {% endautoescape %}
        </div>
    </div>

    <a href="/lesson/{{ object.pk }}/" class="btn btn-success m-5">Edit Chapter</a>
</div>

{% endblock content %}