<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hero Detail</title>
</head>

<body>
    <h1>Super Hero</h1>
    <h2>{{ hero.name }}</h2>
    <p>{{ hero.description }}</p>
    <p>
        <img src="{{ hero.image }}" alt="{{ hero.name }}" width="500">
    </p>
    <p>
        <a href="/hero/">Show all Heroes</a>
    </p>
</body>

</html>