<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Gallery</title>
</head>

<body>
    <h1>Superhero Gallery</h1>
    <ul>
        {% for hero in object_list %}
        <li>
            <h2>{{ hero.name }}</h2>
            <p>{{ hero.description }}</p>
            <p>
                <img src="{{ hero.image }}" alt="{{ hero.name }}" width="300">
            </p>
            <p>
                <a href="{{ hero.pk }}">{{ hero.name }}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>