{% extends 'theme.html' %}

{% block content %}

    <div class="container m-5">

        <h1 class="text-primary">Article Details</h1>

        <div class="container">
            <div class="row">

                <div class="col-lg">

                    {% include '_article.html' %}

                </div>
                <div class="col-lg">

                    <h2 class="text-primary text-center">Article</h2>

                    {% include '_articles.html' %}
                </div>

            </div>
        </div>

        <a href="/owner/{{ object.owner.pk }}" class="btn btn-success m-5">Owner</a>
        <a href="/article/{{ object.pk }}/" class="btn btn-success m-5">Edit Article</a>
    </div>

{% endblock content %}
