{% extends 'book_theme.html' %}


{% block content %}

<h1>List of My Books</h1>

<div class="container bg-light text-dark p-3">
    <table class="table table-hover">
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>
        {% for book in object_list %}
        <tr>
            <td><a href="{{ book.pk }}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td><a href="{{ book.pk }}/">Edit</a></td>
            <td><a href="{{ book.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>


<p>
    <a href="/admin/" class="btn btn-success m-5">Modify Database with Admin Views</a>
    <a href="/book/add" class="btn btn-success m-5">Add New Book</a>
</p>

{% endblock content %}