{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Blog Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                <table class="table">
                    <tr>
                        <td>Title</td>
                        <td>
                            <b> <a href="/blog/{{ object.pk }}/"> 
                                {{ object.title }} </a> 
                            </b> 
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><b>{{ object.title }}</b></td>
                    </tr>
                </table>

            </div>
            <div class="col-lg">
                <h2>Articles</h2>
                <ul>
                    {% for a in articles %}
                    <li>
                        <a href="/article/{{ a.pk }}">{{ a.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <a href="/blog/" class="btn btn-success m-5">Blog List</a>
    <a href="/blog/{{ object.pk }}/" class="btn btn-success m-5">Edit Blog</a>
    <a href="/blog/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Blog</a>
    <a href="/article/add" class="btn btn-primary m-5">Add Article</a>
</div>

{% endblock content %}