<div class="card col-lg">

    <div class="card-header message">
        Authors in Photo Album
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Author</th>
                <th>Description</th>
                <!--  <th>Owner</th> -->
            </tr>

            {% for author in authors %}
            <tr>
                <td><a href="/author/{{ author.pk }}">{{ author.name }}</a></td>
                <td>{{ author.bio }}</td>
                <td><a href="/author/{{ author.pk }}/">Edit</a></td>
                <!--   <td><a href="/owner/{{ author.owner.pk }}">{{ author.owner.name }}</a></td> -->
            </tr>
            {% endfor %}

        </table>

        <p>
            <a href="/author/add" class="btn btn-success m-5">Add New Author</a>
        </p>
    </div>

</div>