{% extends 'theme.html' %}

{% block title %}
Edit Photo
{% endblock title %}


{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Edit Photo</h1>

    {% load crispy_forms_tags %}

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy}}

        <button class="btn btn-success m-5" type="submit">Save Image</button>
        <a class="btn btn-success m-5" href="/photo/{{ object.pk }}/delete">Delete Image</a>

    </form>

</div>

{% endblock content %}