{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Author Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                <table class="table">
                    <tr>
                        <td>Title</td>
                        <td><b><a href="/author/{{ object.pk }}/">{{ object.title }}</a></b></td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td><b><a href="/author/{{ object.author.pk }}">{{ object.author.name }}</a></b></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><b>{{ object.description }}</b></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <a href="/author/" class="btn btn-success m-5">Author List</a>
    <a href="/author/{{ object.pk }}/" class="btn btn-success m-5">Edit Author</a>
    <a href="/author/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Author</a>
</div>

{% endblock content %}