{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Author Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                <table class="table">
                    <tr>
                        <td>Author Name</td>
                        <td>
                            <b><a href="/admin/auth/user/{{ object.user.pk }}/change/">
                                    {{ object.user.first_name }} {{ object.user.last_name }}
                                </a></b>
                        </td>
                    </tr>
                    <tr>
                        <td>Author Email</td>
                        <td>
                            <b><a href="/admin/auth/user/{{ object.user.pk }}/change/">
                                    {{ object.user.email }}
                                </a></b>
                        </td>
                    </tr>
                    <tr>
                        <td>User ID</td>
                        <td>
                            <b><a href="/admin/auth/user/{{ object.user.pk }}/change/">
                                    {{ object.user.username }}</a></b>
                        </td>
                    </tr>
                    <tr>
                        <td>Biography</td>
                        <td><b>{{ object.bio }}</b></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <a href="/author/" class="btn btn-success m-5">Author List</a>
    <a href="/author/{{ object.pk }}/" class="btn btn-success m-5">Edit Author</a>
    <a href="/author/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Author</a>
</div>

{% endblock content %}