{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Test Details - {{ object.name }}</h1>

    <h2>Expected Output</h2>
    <pre>{{ object.expected }}</pre>

    <h2>Python Source Code for Test</h2>
    <pre>{{ object.source }}</pre>

    <a href="/test/" class="btn btn-success m-5">Test List</a>
    <a href="/test/{{ object.pk }}/" class="btn btn-success m-5">Edit Test</a>
    <a href="/test/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Test</a>
    <a href="/test/{{ object.pk }}/run" class="btn btn-success m-5">Run Test</a>
    <a href="/test/{{ object.pk }}/reset" class="btn btn-success m-5">Clear History</a>

    <h2>Test History</h2>
    <table class="table">

        <tr>
            <th>Date</th>
            <th>Pass/Fail</th>
            <th>Text Output</th>
        </tr>
        {% for r in results %}
        <tr>
            <td>{{ r.date }}</td>
            <td>{% if r.passed %}PASS{% else %}FAIL{% endif %}</td>
            <td>{{ r.output }}</td>
            <td><a href="/test/{{ r.pk }}/approve" class="btn btn-success">Approve</a></td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock content %}