pre {
    background-color: #eee;
    padding: 2em;
    border: 1px solid #888;
    border-left: 4px solid blue;
}

.cover {
    background-image: url(/media/images/book/Poems/water.jpg);
    width: 600px;
    height: 800px;
    padding: 2em;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;
}

.cover h1 {
    font-size: 300%;
    color: yellow;
    margin-top: 5rem;
}


.cover h2 {
    margin-top: 5rem;
    color: white;
}

.cover h3 {
    color: yellow;
}

