<div class="card col-lg">

    <div class="card-header message">
        Messages
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Lesson</th>
                <th>Description</th>
{#                <th>Owner</th>#}
            </tr>

            {% for lesson in lessons %}
                <tr>
                    <td><a href="/lesson/{{ lesson.pk }}">{{ lesson.title }}</a></td>
                    <td>{{ lesson.body }}</td>
{#                    <td><a href="/owner/{{ lesson.owner.pk }}">{{ lesson.owner.name }}</a></td>#}
                </tr>
            {% endfor %}

        </table>

        <p>
            <a href="/lesson/add" class="btn btn-success m-5">Add New Lesson</a>
        </p>
    </div>

</div>


