{% extends 'theme.html' %}


{% block content %}

<div class="row">

    <div class="card col-lg-3 m-0">

        <div class="card-header lesson">
            Course Lessons
        </div>
        <div class="card-body">

            {% for lesson in lessons %}
            <p><a href="/lesson/{{ lesson.pk }}">{{ lesson.title }}</a></p>
            {% endfor %}

        </div>

    </div>

    <div class="col-lg m-5">
        {% autoescape off %}
        {{ body }}
        {% endautoescape %}
    </div>
</div>

{% endblock content %}