<div class="card col-lg">

    <div class="card-header message">
        Chapter
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Chapter</th>
                <th>Description</th>
            </tr>

            {% for chapter in chapters %}
            <tr>
                <td><a href="/chapter/{{ chapter.pk }}">{{ chapter.title }}</a></td>
                <td>{{ chapter.body }}</td>
            </tr>
            {% endfor %}

        </table>

        <p>
            <a href="/chapter/{{ book_id }}/add" class="btn btn-success m-5">Add New Chapter</a>
        </p>
    </div>

</div>