{% if accordion %}

<div class="container">

    <div class="accordion bg-light text-dark" id="accordionExample">

        {% for card in accordion %}

        <div class="accordion-item">

            <h2 class="accordion-header" id="heading-{{ card.id }}">

                <button class="accordion-button {{ card.collapsed }}" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ card.id }}" aria-expanded="{{ card.aria }}"
                    aria-controls="collapse-{{ card.id }}">

                    {{ card.title }}

                </button>

            </h2>

            <div id="collapse-{{ card.id }}" class="accordion-collapse collapse {{ card.show }}"
                aria-labelledby="heading-{{ card.id }}" data-bs-parent="#accordionExample">

                <div class="accordion-body bg-light">
                    {% autoescape off %}
                    {{ card.body }}
                    {% endautoescape %}
                </div>

            </div>

        </div>

        {% endfor %}
    </div>

</div>


{% endif %}