<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

    <div class="container">

        <a class="navbar-brand text-light" href="/">View Workshop</a>

        <ul class="navbar-nav text-light ml-auto">

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'theme' %}">Theme</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'document' %}">Document</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'card' %}">Card</a>
            </li>

        </ul>

    </div>

</nav>