{% extends 'theme.html' %}


{% block main %}

    <main class="text-dark">
        <div class="container py-5">

            <h1 class='text-light'>Workshop Views</h1>
            <ul>
                <li><a href="card" class="text-light">Card View</a></li>
                <li><a href="cards" class="text-light">Cards View</a></li>
                <li><a href="doc/README.md" class="text-light">Document View</a></li>
                <li><a href="doc/Test.md" class="text-light">Test View</a></li>
                <li><a href="table" class="text-light">Table View</a></li>
                <li><a href="tabs" class="text-light">Tabs View</a></li>
                <li><a href="accordion" class="text-light">Accordion View</a></li>
                <li><a href="carousel" class="text-light">Carousel View</a></li>
                <li><a href="super" class="text-light">Super View</a></li>
            </ul>
        </div>
    </main>

{% endblock main %}
