{% extends 'theme.html' %}



{% block content %}

<div class="container-fluid m-5">

    <h1 class="text-primary text-center">List of Data Factorys</h1>

    <table class="table table-hover">
        <tr>
            <th>Data Factory</th>
            <th>Object Name</th>
            <th>App Module</th>
            <th>Edit</th>
        </tr>

        {% for factory in object_list %}
        <tr>
            <td><a href="/factory/{{ factory.pk }}">{{ factory.class_name }}</a></td>
            <td><a href="/factory/{{ factory.pk }}">{{ factory.object_name }}</a></td>
            <td><a href="/author/{{ factory.pk }}">{{ factory.module_name }}</a></td>
            <td><a href="/factory/{{ factory.pk }}/" class="btn btn-success">Edit</a></td>
            <td><a href="/factory/{{ factory.pk }}/delete" class="btn btn-success">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/factory/add" class="btn btn-success m-5">Add New Data Factory</a>
    </p>

</div>

{% endblock content %}