{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Test Details</h1>

    <h2>{{ object.name }}</h2>
    <a href="/test/{{ object.pk }}/">Edit {{ object.name }}</a>
    <br><br>

    <h2>Expected Output</h2>
    <pre>{{ object.expected }}</pre>

    <h2>Python Source Code for Test</h2>
    <pre>{{ object.source }}</pre>

    <a href="/test/" class="btn btn-success m-5">Test List</a>
    <a href="/test/{{ object.pk }}/" class="btn btn-success m-5">Edit Test</a>
    <a href="/test/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Test</a>
</div>

{% endblock content %}