<div class="card col-lg">

    <div class="card-header message">
        Blog
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Blog</th>
                <th>Description</th>
            </tr>

            {% for blog in blogs %}
            <tr>
                <td><a href="/blog/{{ blog.pk }}">{{ blog.title }}</a></td>
                <td>{{ blog.body }}</td>
            </tr>
            {% endfor %}

        </table>

        <p>
            <a href="/blog/add" class="btn btn-success m-5">Add New Blog</a>
        </p>
    </div>

</div>