<div class="card col-lg">

    <div class="card-header message">
        Photograms
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Photogram</th>
                <th>Description</th>
                <th>Owner</th>
            </tr>

            {% for photogram in photograms %}
            <tr>
                <td><a href="/photogram/{{ photogram.pk }}">{{ photogram.title }}</a></td>
                <td>{{ photogram.body }}</td>
                <td><a href="/developer/{{ photogram.owner.pk }}">{{ photogram.owner.pk }}</a></td>
            </tr>
            {% endfor %}

        </table>

        <a href="/photogram/add" class="btn btn-success m-5">Add New Photogram</a>

    </div>
</div>